In [21]:
!wget http://dati.comune.milano.it/dataset/5c6519f6-6d26-41c9-b53b-6106e08d1b90/resource/533b4e63-3d78-4bb5-aeb4-6c5f648f7f21/download/ds634_civici_coordinategeografiche_20190109.csv

--2019-01-15 19:34:07--  http://dati.comune.milano.it/dataset/5c6519f6-6d26-41c9-b53b-6106e08d1b90/resource/533b4e63-3d78-4bb5-aeb4-6c5f648f7f21/download/ds634_civici_coordinategeografiche_20190109.csv
Resolving dati.comune.milano.it (dati.comune.milano.it)... 217.31.113.162
Connecting to dati.comune.milano.it (dati.comune.milano.it)|217.31.113.162|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10113368 (9,6M) [text/csv]
Saving to: ‘ds634_civici_coordinategeografiche_20190109.csv’

ds634_civici_coordi 100%[===================>]   9,64M  1,73MB/s    in 6,1s

2019-01-15 19:34:14 (1,59 MB/s) - ‘ds634_civici_coordinategeografiche_20190109.csv’ saved [10113368/10113368]

In [13]:
!ls

533b4e63-3d78-4bb5-aeb4-6c5f648f7f21  Documents  Pictures   Untitled.ipynb
anaconda3			      Downloads  Public     Videos
Desktop				      Music	 Templates

In [33]:
import pandas as pd
import requests

In [24]:
geo_data = pd.read_csv("ds634_civici_coordinategeografiche_20190109.csv", sep=';')

In [25]:
geo_data.head()

,NUMERO_CIVICO,CODICE_VIA,CODICE_CIVICO,DESCRITTIVO,DENOMINAZIONE,STATOCIVICO,RESIDENZIALE,PASSOCARRAIO,GAUSSB_X,GAUSSB_Y,WGS84_X,WGS84_Y,WEBMERC_X,WEBMERC_Y,LATIT,LONGIT
0,17N01,1,196031,DEL DUOMO,DUOMO (DEL),Iter in corso,0,0.0,"1514756,6054","5034586,4621","514728,6132","5034566,4447","1022848,3929","5694941,5055","45,464469515899999","9,188403447420001"
1,15N05,1,195948,DEL DUOMO,DUOMO (DEL),Iter in corso,0,0.0,"1514756,4415","5034581,5103","514728,4494","5034561,4931","1022848,1432","5694934,4318","45,464424949300003","9,1884012037"
2,15N04,1,195947,DEL DUOMO,DUOMO (DEL),Iter in corso,0,0.0,"1514756,6399","5034576,14","514728,6478","5034556,1229","1022848,4077","5694926,7589","45,464376607200002","9,18840358053"
3,15N03,1,195946,DEL DUOMO,DUOMO (DEL),Iter in corso,0,0.0,"1514756,7471","5034570,0287","514728,755","5034550,0117","1022848,54","5694918,0276","45,464321597100003","9,18840476856"
4,15N02,1,195945,DEL DUOMO,DUOMO (DEL),Iter in corso,0,0.0,"1514756,8556","5034563,3618","514728,8635","5034543,3449","1022848,6723","5694908,5026","45,464261585999999","9,18840595655"

In [26]:
tblPrices=pd.read_html("https://www.immobiliare.it/prezzi-mq/Lombardia/Milano.html")

In [36]:
tblPrices[2]

      CAP  Vendita (€/m²)  Affitto (€/m² al mese)
0   20121           7.717                    2374
1   20122           7.097                    2193
2   20123           6.757                    2060
3   20124           5.976                    1908
4   20125           3.268                     998
5   20126           2.581                     806
6   20127           2.538                     800
7   20128           2.450                     775
8   20129           5.168                    1603
9   20131           3.409                    1081
10  20132           2.413                     733
11  20133           2.658                     808
12  20134           2.663                     813
13  20135           4.268                    1305
14  20136           4.344                    1338
15  20137           2.858                     850
16  20138           2.438                     750
17  20139           2.688                     788
18  20141           2.747                     809
19  20142           2.408                     775
20  20143           3.471                    1058
21  20144           3.990                    1245
22  20145           7.431                    2388
23  20146           3.385                    1115
24  20147           2.500                     888
25  20148           3.502                    1156
26  20149           4.696                    1540
27  20151           2.629                     895
28  20152           2.164                     706
29  20153           2.429                     804
30  20154           5.144                    1581
31  20155           3.829                    1175
32  20156           2.408                     767
33  20157           2.290                     708
34  20158           3.473                    1028
35  20159           3.431                    1034
36  20161           2.450                     741
37  20162           2.588                     813